*.class
*.log
*.pyc
*.swp
*.swo
*.tmp
*~
Thumbs.db
Desktop.ini
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/
*.iml
*.ipr
*.iws
.idea/
.vscode/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/
**/doc/api/
**/ios/Flutter/.last_build_id
.env
.env.*
!.env.example
firebase.json
lib/firebase_options.dart
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
/android/app/debug
/android/app/profile
/android/app/release
app.*.symbols
app.*.map.json
documents-private/
.local/
